* {
    /* to remove the top and left whitespace */
    margin: 0;
    padding: 0;
}

html,
body {
    /* just to be sure these are full screen */
    width: 100%;
    height: 100%;
}

canvas {
    /* To remove the scrollbars */
    display: block;
}

canvas {
    /* to show the canvas bounds */
    background: #eee;
}
